@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@500;600&family=Roboto&display=swap");

:root {
  --trasparent-bg: rgba(17, 17, 17, 0.75);
  --text-color: #f5f5f5;
  --link-color: #d53900;
  --section-background: #ffffff;
  --header-text: #282828;
  --body-text: #666;
  --navy: #000c66;
  --dark-blue: #050a30;
  --background: #f5f5f5;
  --background-darker: #fafafa;
  --black: #0c0c0c;
  --gray: #d4d0d0;
  --dark-gray: #1a1a1a;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);

  & {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background);
  }
}

section {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  & nav {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 0.9rem;
    position: absolute;
    top: 0;
    padding: 0.5rem;
  }

  &.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-blue);

    & h1 {
      font-family: "Anton", sans-serif;
      font-size: 4rem;
      text-align: center;
      color: var(--text-color);
    }
  }
}

embed {
  width: inherit;
  height: inherit;

  max-width: 100%;
  max-height: 100%;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  margin: 0;
  display: inline-block;
}

.bg-navy {
  background-color: var(--navy);
  color: var(--text-color);
}

.techstack {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(16rem + (0.7rem * 3));
}

.contacts img,
.techstack-icon {
  transition: transform 0.2s;
  width: 2.1rem;
  height: 2.1rem;
  display: block;

  &:hover {
    transform: scale(1.1);
  }
}

.techstack-icon {
  width: 4rem;
  height: 4rem;
}

.invert {
  filter: invert(100%);
}

/*
  * Landing section
*/
section nav {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 0.9rem;
  position: absolute;
  top: 0;
  padding: 0.5rem;
}

section.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--dark-blue);
}

section.landing h1 {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  text-align: center;
  color: var(--text-color);
}

/*
  * Scroll down animation (https://codepen.io/iftikharrasha/pen/eYJKGGa)
*/
.scroll-down {
  position: absolute;
  left: 50%;
  cursor: pointer;
  bottom: 7rem;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}
.scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*
  * Wave animation
  * Thank you Goodkatz (https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100)
*/
/* #region wave */
.waves-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  /* margin-bottom: -7px; Fix for safari gap */
  min-height: 100px;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.parallax.delay1 > use:nth-child(1) {
  animation-delay: -4s;
}
.parallax.delay1 > use:nth-child(2) {
  animation-delay: -5s;
}
.parallax.delay1 > use:nth-child(3) {
  animation-delay: -6s;
}
.parallax.delay1 > use:nth-child(4) {
  animation-delay: -7s;
}

.parallax.delay2 > use:nth-child(1) {
  animation-delay: -6s;
}
.parallax.delay2 > use:nth-child(2) {
  animation-delay: -7s;
}
.parallax.delay2 > use:nth-child(3) {
  animation-delay: -8s;
}
.parallax.delay2 > use:nth-child(4) {
  animation-delay: -9s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* #endregion */

/*
  * Sections
*/
.section-content {
  padding: 2.4rem;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-size: 2.2rem;
  grid-area: title;
}
.section-body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  line-height: 1.75em;
  grid-area: body;
}
.w40ch {
  max-width: 40ch;
}
.subtext {
  color: var(--text-color);
  text-align: center;
  font-family: "Anton", sans-serif;
}
.section-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: aside;
}
.section-aside img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

:is(ul, ol).inline {
  display: block;
  margin: 0;
  list-style-type: decimal;

  & li {
    float: left;
    margin: 0 1.2rem;
    /* padding: 0 12px; */
  }
}

a {
  color: var(--link-color);
}

/*
  * Responsivness
*/
/* Lanscape phone overrides */
@media screen and (min-width: 768px) and (orientation: landscape) {
  .techstack {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(36rem + (0.7rem * 6));
  }

  .techstack-icon {
    width: 4rem;
    height: 4rem;
  }
}

/* Tablets and lanscape phones */
@media screen and (min-width: 768px) {
  section.landing h1 {
    font-size: 6rem;
  }
  .scroll-down {
    bottom: 3rem;
  }
  .section-content {
    display: grid;
    grid-template-areas:
      "title aside"
      "body aside";
    height: 80%;
  }

  .section-title {
    font-size: 3.3rem;
  }

  .section-body {
    font-size: 1.3rem;
    align-self: baseline;
  }

  .techstack {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(32rem + (0.7rem * 3));
  }
}

/* Landscape tablets overrides */
@media screen and (min-width: 768px) and (orientation: portrait) {
  .techstack-icon {
    width: 6rem;
    height: 6rem;
  }
}

/* Desktops and landscape tablets */
@media screen and (min-width: 992px) {
  .scroll-down {
    bottom: 7rem;
  }

  .techstack {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(48rem + (0.7rem * 5));
  }

  .techstack-icon {
    width: 8rem;
    height: 8rem;
  }
}
