/* DO NOT MINIFY THIS DOCUMENT */
.cm-strong {
  font-weight: 650;
}
body {
  --margin-in-between: 0em !important;
}
div:has(> p) ~ div:has(> p) p {
  margin-top: calc(var(--line-height-normal) * 0.2rem) !important;
  margin-block-end: var(--margin-in-between) !important;
}
div:has(p) + div:has(ul, ol) > :is(ul, ol) {
  margin-block-start: var(--margin-in-between) !important;
}

:is(.markdown-rendered, .webpage-container) {
  & :is(h1, h2, h3, h4, h5, h6) {
    margin-top: calc(var(--line-height-normal) * 0.9rem) !important;
    margin-bottom: 0.7rem !important;
  }

  & :is(ul, ol, hr, blockquote) {
    margin-top: 0 !important;
    margin-bottom: calc(var(--line-height-normal) * 0.3rem) !important;
  }
}
:is(.markdown-rendered, .webpage-container)
  :has([data-heading])
  + div:has(ul, ol)
  :is(ul, ol) {
  margin-top: var(--margin-in-between) !important;
}
